---
import TagGroup from "@components/tag-group.astro";
import type { PostCardProps } from "@types";

type Props = PostCardProps;

const {
  props: { title, date, description, tags, url },
} = Astro;
---

<a
  href={url}
  class="border-[1px] border-gray-300 transition-[box-shadow] duration-500 focus:shadow-lg hover:shadow-lg shadow-gray-500 rounded-lg py-2 px-4 flex flex-col gap-3 w-full group"
>
  <div class="flex flex-wrap justify-between">
    <h4 class="group-hover:underline">{title}</h4>
    <p>{date}</p>
  </div>
  <p>{description}</p>
  <TagGroup tags={tags} hasAnchor={false} />
</a>
