---
import TagGroup from "@components/tag-group.astro";
import LinkButton from "@components/link.astro";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"] & { url: string };

const {
    props: { title, date, description, tags, url },
} = Astro;
---

<LinkButton href={url} class="w-full p-4 dark:border-transparent">
    <div class="flex flex-col gap-4">
        <div class="flex flex-wrap justify-between">
            <h4 class="group-hover:underline">{title}</h4>
            <p>{date}</p>
        </div>
        <p>{description}</p>
        <TagGroup tags={tags} hasAnchor={false} />
    </div>
</LinkButton>
