---
import Header from "@components/header.astro";
import TagGroup from "@components/tag-group.astro";
import MetaTags from "@components/meta-tags.astro";
import { BackButton } from "@components/back-button.jsx";
import { getOgImageURL } from "@lib/getOgImageURL";
import { type CollectionEntry } from "astro:content";

import './global.css'

const { frontmatter } = Astro.props as {
  frontmatter?: CollectionEntry<"blog">["data"];
};
const { url } = Astro;
const title = frontmatter?.title;

const ogImageURL = await getOgImageURL(frontmatter);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <MetaTags
      href={url.href}
      ogImageURL={ogImageURL}
      title={"ddaniel.me"}
      description="Daniel's personal website."
      frontmatter={frontmatter}
    />

    <title>{title || "ddaniel.me"}</title>
  </head>
  <body>
    <Header />
    <main class="w-full flex flex-col p-8">
      <div
        class="w-full max-w-xl self-center flex flex-col gap-10 sm:my-20 my-10"
      >
      {frontmatter?.title &&
          <BackButton client:load />
      }
        {frontmatter?.title && <h1>{frontmatter.title}</h1>}
        {
          frontmatter?.tags ? (
            <TagGroup hasAnchor={true} tags={frontmatter.tags} />
          ) : null
        }
        <slot />
      </div>
    </main>
  </body>
</html>
